html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}
canvas {
    display: inline-block;
    margin: 26px;
    padding: 0;
    background: #eee;
    width: 560px;
    height: 650px;
}
